html, body {
    margin: 0px;
    background-color: #088484;
    color: #fff;
}

.titulo {
    text-align: center;
    background-color: #001c2c;
    color: #fff;
    padding: 20px;
    font-size: px;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computador-cartas {
    height: 250px;
}